<?php
    // Couldn't get PHP Dotenv to work (https://github.com/vlucas/phpdotenv),
    // so following a simpler approach: https://gist.github.com/derzorngottes/3b57edc1f996dddcab25
    
    // USDA API Key - https://fdc.nal.usda.gov/api-key-signup.html
    $CONFIG_USDA_API_KEY = "replace_with_your_own";

    // SQL Server connection credentials - https://www.freemysqlhosting.net
    $CONFIG_SQL_DB_HOST = "replace_with_your_own";
    $CONFIG_SQL_DB_NAME = "replace_with_your_own";
    $CONFIG_SQL_DB_USERNAME = "replace_with_your_own";
    $CONFIG_SQL_DB_PASSWORD = "replace_with_your_own";
?>